<footer>
    <div class="container md:container md:mx-auto">
        <div>
            <nav class="bt-footer-menu text-center py-4 text-lg">
                {{navigation}}
            </nav>
        </div>
        <div class="ghost-promo text-center py-4 text-gray-500">
            Published with <a class="text-inherit" href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
        </div>
    </div>
</footer>